folium>=0.12.1
mavsdk>=1.4.0
asyncio>=3.4.3
dataclasses>=0.8; python_version < '3.7'
typing>=3.7.4.3; python_version < '3.5'
PyQt6>=6.4.0
PyQt6-Qt6>=6.4.0
PyQt6-sip>=13.4.0
numpy>=1.24.0
shapely>=2.0.0
